.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 42px;
    background: var(--bg-color-primary);
    box-shadow: var(--box-shadow-common);
    border-radius: 18px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.bottom {
    display: flex;
    gap: 40px;
    align-items: start;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}

.link {
    color: var(--secondary);
    transition: color .3s ease-in;

    &:hover {
        color: var(--secondary-hover);
    }
}

.heading {
    font-size: var(--font-height-l);
    font-weight: 100;
    margin: 12px 0;
}

.error {
    color: var(--error-red);
}

.reg {
    margin-bottom: 18px;
}

.success {
    color: var(--primary) !important;
    border-color: var(--primary) !important;

    &.input {
        border-width: 2px;
    }
}

@media screen and (max-width: 488px){
    .form {
        padding: 14px 8px;
        border-radius: 8px;
    }
    .bottom {
        gap: 20px;
    }
}