.navBar {
    margin-left: auto;
}

.hamburger {
    display: none;
}

@media screen and (max-width: 1240px) {
    .navBar {
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 5;
        background: var(--bg-color);
        border-radius: 0px 0px 0px 30px;
        padding: 30px;
        padding-top: 10px;

        transition: right .3s ease-in;

        &.opened {
            right: 0;
        }
    }

    .hamburger {
        margin-left: auto;
        z-index: 6;
        display: inline-block;
        position: absolute;
        top: -20px;
        right: 0;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background-color: var(--text-color);
        display: block;
        margin: 8px auto;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .hamburger:hover {
        cursor: pointer;
    }

    .hamburger.isActive .line:nth-child(2) {
        opacity: 0;
    }

    .hamburger.isActive .line:nth-child(1) {
        -webkit-transform: translateY(13px) rotate(45deg);
        -ms-transform: translateY(13px) rotate(45deg);
        -o-transform: translateY(13px) rotate(45deg);
        transform: translateY(13px) rotate(45deg);
    }

    .hamburger.isActive .line:nth-child(3) {
        -webkit-transform: translateY(-9px) rotate(-45deg);
        -ms-transform: translateY(-9px) rotate(-45deg);
        -o-transform: translateY(-9px) rotate(-45deg);
        transform: translateY(-9px) rotate(-45deg);
    }

    .over {
        position: fixed;
        z-index: 4;
        inset: 0;
        background: rgba($color: #000000, $alpha: 0.5);
    }
}

@media screen and (max-width: 320px) {
    .navBar {
        width: 100%;
        border-radius: 0px 0px 10px 10px;
        padding: 20px 10px;
        align-items: center;
        justify-content: center;
        
    }
}