.wrapper {
    background: var(--bg-color-secondary);
    // box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    // border: 1px solid black;
    border-radius: 0px 0px 14px 14px;
    box-shadow: var(--box-shadow-common);
    padding: 0px 0px 20px 0px;
}

.container {
    display: flex;
    align-items: center;
}

.top {
    //3f3f3f ece8e8
    background: var(--bg-color-primary);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    // box-shadow: rgba(45, 45, 88, 0.25) 0px 30px 60px -12px, rgba(172, 172, 172, 0.3) 0px 18px 36px -18px;
    border-radius: 5px;
}

.bottom {
    padding-top: 20px;
}

.bigImg, .mediumImg {
    display: none;
}

@media screen and (max-width: 1240px) {
    .bottom .container {
        position: relative;
        justify-content: center;
    }

    .bigImg {
        display: block;
    }

    .smallImg {
        display: none;
    }
}

@media screen and (max-width: 867px){
    .mediumImg {
        display: block;
    }

    .bigImg {
        display: none;
    }
}