.wrapper {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 14px;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 46px;

    &::-webkit-scrollbar {
        width: 4px;
        height: 5px;
        /* ширина scrollbar */
    }

    &::-webkit-scrollbar-track {
        background: var(--bg-color-inverted);
        /* цвет дорожки */
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--dark-grey);
        /* цвет плашки */
        border-radius: 1px;
        /* закругления плашки */
        // border: 3px solid orange;
        /* padding вокруг плашки */
    }
}

.empty {
    height: 60px;
}