.inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form {
    background: var(--bg-color-primary);
    box-shadow: var(--box-shadow-common);
    padding: 42px 21px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.success {
    color: var(--primary) !important;
    border-color: var(--primary) !important;

    &.input {
        border-width: 2px !important;
    }
}

.error {
    color: var(--error-red);
}